@import "../../environment.module.scss";

@mixin linkBaseStyle {
    text-decoration: none;
}

.container {
    background-color: black;
    height: #{$navbar-height};
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding-left: 50px;
    font-size: 20px;
    @media (max-width: 415px) {
        gap: 20px;
    }
}


.container a {
 color: white;
 @include linkBaseStyle();

}

a:hover { 
    color: rgb(93, 144, 206);
    font-size: 110%;
}
