@mixin linkBaseStyle {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 20px;
    @media (min-width: 695px) {
        font-size: 35px;
    }

    @media (min-width: 1250px) {
        font-size: 40px;
    }
}

.container a {
 color: white;
 @include linkBaseStyle();


}

// .container a svg {
    
//     color: white;
//  }

// .container .link2 {
//     @include linkBaseStyle();
//     color: white;
// }
