.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .text {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container h1 {
    font-style: normal;
    font-size: 40px;
    text-align: center;
    // border: 4px double;
    // // border-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
    // // width: 500px;
    // // padding-block: 10px;
    color: #bcd7f9;
    text-shadow: 3px 3px #568ccf;

    @media (min-width: 695px) {
        font-size: 50px;
    }

    @media (min-width: 1250px) {
        font-size: 70px;
    }
}

.container h2 {
    font-style: normal;
    font-size: 60px;
    text-align: center;
    color: white;
}

.container h3 {
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: white;
    width: 320px;

}

.container .border {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 300px;
    margin-top: 20px;
    background: radial-gradient(circle, rgba(231,203,189,1) 20%, rgba(194,163,197,1) 53%, rgba(84,139,206,1) 100%);

    @media (min-width: 695px) {
        height: 85px;
        width: 360px;
    }

    @media (min-width: 1250px) {
        height: 120px;
        width: 550px;
    }
}

.container .border .background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 95%;
    background-color: #b8b4d7;
}