body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

main {
    width: 100vw;
    height: 90vh;
    background-color: #b8b4d7;

    @media (min-width: 695px) {

        height: 85vh;
    }
}

header {
    height: 10vh;
    // background-image: url('./images/pastelli.png');
    // background-repeat: no-repeat;
    // background-size: 100vw 20vh;
    background: radial-gradient(circle, rgba(231,203,189,1) 20%, rgba(194,163,197,1) 53%, rgba(84,139,206,1) 100%);;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 695px) {
        height: 15vh;
    }
}