body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, rgba(231,203,189,1) 20%, rgba(194,163,197,1) 53%, rgba(84,139,206,1) 100%);;
    background-attachment: fixed;
}

.root {
    height: 100vh;
}


// footer
.container {
    position: relative;
    min-height: 100vh;
}

.container .wrap {
   padding-bottom: 2.5rem; 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
    border-top: dotted;
}
