@import "../../../environment.module.scss";

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin containerBase {
    width: 50vw;
    height: calc(100vh - #{$navbar-height});

    @media only screen and (min-width: 500px) {
        width: 50vw;
    }

    @media only screen and (max-width: 500px) {
        width: 100vw;
    }
}

.container .contentLeft {
    @include containerBase();
}
.container .contentLeft .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 57px;
    justify-content: center;
}

.container .contentLeft .items .item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 97px;
    width: 164px;
    background: rgb(231, 203, 189);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    p {
        margin: 5px;
    }
    a {
        text-decoration: none;
        margin: 5px;
    }
}


.container .contentLeft h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 111px;
}

.container .contentRight {
    @include containerBase();
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentRight .background {
    background-color: rgb(231, 203, 189);
    border-style: solid;
    border-width: 10px;
    width: 410px;
    height: 410px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 645px) {
        width: 240px
    }
}

.container .contentRight .background p {
    width: 300px;
    font-size: 20px;
    margin-bottom: 155px;
    @media (max-width: 645px) {
        width: 236px
    }
}
.container .contentRight .background h2 {
    font-size: 30px;
}
.container .contentRight .background h3 {
    font-size: 18px;
    word-spacing: 9px;  

    @media (min-width: 645px) {
    font-size: 23px;
    word-spacing: 9px;
    }
    @media (min-width: 833px) {
    font-size: 30px;
    word-spacing: 18px;
    }
}